/* AdminLayout.css */

/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.containerss {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: rgb(163, 211, 41); ;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

ul li a svg {
    margin-right: 5px;
}
