/* AdminUsers.css */

.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.users-table th,
.users-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.users-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  rgb(163, 211, 41);
    color: white;
}

.users-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.users-table tr:hover {
    background-color: #ddd;
}

.users-table td {
    text-align: center;
}

/* Additional CSS for the message column */
.users-table td.message {
    max-width: 200px; /* Adjust as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


